	 @import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
	padding: 0;
	margin: 0;
}

.navbar{
	height: 70px;
	width: 100%;
	background: black;
}
.logo{
	position: absolute;
	margin-top: 20px;
	margin-left: 30px;
	font-size: 25px;
	font-family: 'Roboto', sans-serif;
	
/*
    box-shadow: 0 3px 15px 0 #39FF14 inset, 0 3px 15px 0 #39FF14 inset, 0 3px 15px 0 #39FF14 inset, 0 3px 15px 0 #39FF14 inset;*/
        text-shadow: 0 0 10px #39FF14, 0 0 5px #39FF14, 0 0 20px #39FF14, 0 0 5px #39FF14;
}

.logo a{
	text-decoration: none;
}

.navbar ul{
	float: right;
	margin: 10px;

}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 55px;
}
.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	/*color: black; 
	background: #00FF00;
	border-radius: 2px;*/

	text-decoration: none;
	cursor: pointer;
	font-weight: 400;
    transition: 0.4s;

        text-shadow: 0 0 20px #39FF14, 0 0 5px #39FF14, 0 0 20px #39FF14, 0 0 5px #39FF14, 0 0 20px #39FF14, 0 0 5px #39FF14;





}


h1{
	color: #00FF00;
	padding-top: 15px;
}
h3{
	color: white;

}
.win10crack{
	padding-top: 0px;
	padding-left: 20px;
	color: #00FF00;
}
.win10crack a{
	color: #15f4ee;
	text-decoration: none;
}
.win10crack a:hover{
	color: #15f4ee;
	text-decoration: none;
	cursor: pointer;
	font-weight: 400;
    transition: 0.4s;

	text-shadow: 0 0 15px #15f4ee, 0 0 15px #15f4ee, 0 0 15px #15f4ee, 0 0 5px #15f4ee;


}

.drivers{
	padding-top: 0zpx;
	padding-left: 20px;
	color: #00FF00;
}
.drivers a{
	color: #15f4ee;
	text-decoration: none;
}
.drivers a:hover{
	color: #15f4ee;
	text-decoration: none;
	cursor: pointer;
	font-weight: 400;
    transition: 0.4s;

	text-shadow: 0 0 15px #15f4ee, 0 0 15px #15f4ee, 0 0 15px #15f4ee, 0 0 5px #15f4ee;


}

.line{
	color: white;
	padding-left: 20px;
}
.line a{
		text-decoration: none;
}
.line a:hover{
	text-decoration: none;
	cursor: pointer;
	font-weight: 400;
    transition: 0.4s;

	text-shadow: 0 0 15px #15f4ee, 0 0 15px #15f4ee, 0 0 15px #15f4ee, 0 0 5px #15f4ee;

}

p{
	color: white;
	font-size: 20px;
	padding-top: 40px;
	padding-left: 50px;
	padding-right: 50px;
}

a{
		text-decoration: none;
		color: #15f4ee;
}
a:hover{
	text-decoration: none;
	cursor: pointer;
	font-weight: 400;
    transition: 0.4s;

	text-shadow: 0 0 15px #15f4ee, 0 0 15px #15f4ee, 0 0 15px #15f4ee, 0 0 5px #15f4ee;

}